<!-- html -->
<section class="testimonial-slider">
    <div class="testimonial-track">
        <div class="testimonial-card">
            <div class="testimonial-meta">
            <img src="{{ 'face1.png' | asset_url  }}" alt="Testimonial Image" class="avatar">
            <div class="author-meta">
            <h3>Name</h3>
            <div class="star-rating">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            </div>
            </div>
            </div>
            <div class="testimonial-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum quas temporibus veritatis magnam ipsum omnis id, velit ea autem iusto amet, neque repellendus accusantium!</p>
            </div>
        </div>
    </div>
</section>



<!-- schema -->

{% schema %}
{
    "name": "Testimonial Slider",
    "settings": [
    {
        "id": "testimonial-slider",
        "type":"text",
        "label":"Add a testimonial slider"
    }
    ],
    "templates": ["index"],
    "presets": [
    {
        "name": " Testimonial Slider",
        "category": "Sliders"
    }

    ]

}
{% endschema %}



<!-- stylesheet -->


{% stylesheet %}
    

{% endstylesheet %}

<!-- scripts -->

{% javascript %}


{% endjavascript %}