.header__active-menu-item {
  text-decoration: none;
  color: #CFD7ED, 0.75;
    }

.header__menu-item {
padding: 0;
}

.header__menu-item span {
transition: none;
  text-decoration: none;
}

.header__menu-item:before {
text-decoration: none;
}

.header__menu-item:before {
  content:'';
  display: block;
  position: absolute;
  bottom:-2px;
  left: 1.2rem;
  right: 1.2rem;
  height: 1px;
  background: #CFD7ED;
    transform: scaleX(0);
    transition: transform 0.5s ease 0s;
    }

.header__menu-item:hover:before {
  transform-origin: left bottom;
  transform: scaleX(1);
  background: #CFD7ED;
    }

.list-menu--inline li {
  position: relative;
  padding: 0 1.2rem;
}

.header__menu-item link {
  font-size: 1.5rem;
}

@media only screen and (min-width: 750px) {
  
  .h5 {
   font-size: calc(var(--font-heading-scale) * 1.3rem); 
  }
}

a.link.link--text.list-menu__item.list-menu__item--link {
  color:white;
}

h2.footer-block__heading {
  color: white;
  text-align:center;
}

section#newsletter {
  min-height: 15vh;
  display:flex;
  
}
